.container-fluid
{
    font-family: Jua; 
    
}
.btn {
    border-color: #16683f;
    border-radius: 50px;
    background-color: #16683f;
    font-family: Jua;
    }


.confirm
{
    text-align: center;
    font-family: Jua;
    padding-top: 100px;
    color:#16683f ;
}