/*Color Definition*/

/*

Hauptfarben: benutzt für Buttons, Übersichtskarte, hover Effekte etc.
apetito-red = #DE0027
apetito-green = #9CCC11

Das etwas dunklere weiß hinter den Elementen, um diese von dem Rest abzuheben.
light-white-shadow = #F8F9FA

Footer Farben
footer-lightgrey = #393939
footer-darkgrey = #5F5F5F

Als Schriftfarbe wird Weiss verwendet
white = #FFFFFF
*/

/*LOGO*/

#logo {
    padding: 18px;
    margin-left: 15px;
    background-color: #F8F9FA;

}

/*NAVIGATION*/

/*NAVIGATION TOP STYLE & TOOGLE BUTTON*/

#tugle:hover {
    border-color: #DE0027;
}

#tugle:focus {
    background-color: #9CCC11;
}


#navtop button {
    background-color: #DE0027;
    padding-left: 20px;
}

#navtop button:hover {
    color: #9ccc11;
}

#gerbutton,
#hunbutton,
#nethbutton,
#ausbutton,
#belbutton {
    padding-right: 20px;
    padding-top: 8px;
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
    min-width: 790px;
}

header.row,
#navigationheader.col-md-6 {
    width: 57%;
    max-width: 57%;

}

#header {
    display: -webkit-box;
}

/*NAVIGATION LEFT BASIC & STYLE*/

#sidebar.col-md-3 {
    max-width: 246px;
}

#navside {
    width: 85%;
    min-width: 246px;
}

#navside ul {
    list-style-type: none;
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #F8F9FA;
}

#navside li {
    margin-bottom: 40px;
}

#navside li a {
    text-decoration: none;
    color: #DE0027;
    padding: 0.4em;
    transition: all .25s ease-in;
}

/*NAVIGATION TOP & NAVIGATION LEFT STYLE ON HOVER*/

#navtop a:hover,
#navside a:hover,
#navtop li[aria-current] a:hover #navside li[aria-current] a:hover {
    color: #FFF;
    background-color: #DE0027;
    border-radius: 10px;
    transition: all .20s ease-in;

}

/*NAVIGATION TOP & NAVIGATION LEFT STYLE ON FOCUS*/

#navside a:focus,
#navtop a:focus {
    background-color: #DE0027;
    color: #9CCC11;
}

.logout {
    text-decoration: underline;
    margin-top: 80px;
    cursor: pointer;
    color: #DE0027;
    padding: 0.4em;
    transition: all .25s ease-in;
    margin-right: 110px;
    border-radius: 10px;
}

.logout:hover {
    text-decoration: underline;
    margin-top: 80px;
    cursor: pointer;
    color: #FFF;
    background: #DE0027;
    padding: 0.4em;
    transition: all .25s ease-in;
}

#logout {
    width: 13px;
    height: 13px;
}

#iconlogout:hover {
    width: 13px;
    height: 13px;
    background: #FFF;
}

#iconlogout {
    width: 13px;
    height: 13px;

}


/*SEARCH FORM WITH BUTTON BASIC & STYLE*/

#searchelement {

    padding-top: 12px;
    background-color: #F8F9FA;
    padding-bottom: 8px;
    height: 10%;
    left: 70px;

}


#searchfield {
    width: 10em;
    height: 36px;
    border: 1px solid #DE0027;
    border-top-left-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    transition: width 0.5s ease-in-out;
    color: #393939;
    margin-top: 4px;
}

#searchfield:hover {
    border-color: #9CCC11;
}

.searchbutton {
    background: #DE0027;
    color: #FFF;
    width: 4em;
    height: 37.5px;
    cursor: pointer;
    border: 1px solid;
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    transition: all .25s ease-in;
    margin-top: 4px;
}

.searchbutton:hover {
    background-color: #DE0027;
    color: #9CCC11;
}

.searchbutton:focus {
    background-color: #DE0027;
    color: #9ccc11;
}


/*MAINFRAME*/

/* Hotelmodals*/

#iconroute {
    height: 50px;
    width: 50px;
    fill: #9CCC11;
}

/*MAINFRAME CAROUSEL*/

.carousel-control-prev,
.carousel-control-next {
    background-color: #DE0027;
    height: 30px;
    width: 40px;
    border-radius: 0.4em;
    margin-top: 240px;
}

#carouselExampleIndicators li {
    cursor: pointer;
}

#carouselExampleIndicators a {
    background-color: #DE0027;


}

#carouselExampleIndicators a:hover {
    color: #9CCC11;
}

#carouselExampleIndicators {
    left: 50px;
}

/*MAP OF EUROPE BASIC STYLE WITH HOVER EFFECT*/

#mainframecarousel {
    padding-bottom: 15px;
    left: 100px;
}

#mapeurope {
    fill: #9ccc11;
    margin-left: 20px;
    padding-bottom: 40px;
}

#europetext {
    fill: #000;
}

#europecountrymap a:hover,
#europecountrymap a:focus {
    fill: #DE0027;
    transition: all .25s ease-in;
}

/*STYLE & SETTINGS OF THE COUNTRYMAPS*/

#mapgermany {
    margin-left: 70px;
    padding-left: 5px;
    padding-bottom: 30px;
    fill: #9CCC11;
}

#mapnetherlands {
    margin-left: 100px;
    padding-bottom: 30px;
}

#mapaustria {
    margin-top: 60px;
    margin-left: 50px;
    padding-bottom: 60px
}

#mapbelgium {
    margin-top: 45px;
    margin-left: 50px;
    padding-bottom: 60px
}

#maphungary {
    margin-top: 60px;
    margin-left: 65px;
    padding-bottom: 60px
}

#mapgermany text {
    fill: #000;
}

.carousel-inner {
    overflow: visible;
}

.carousel-indicators {
    left: -180px;
}

.carousel-indicators li {
    background-color: #DE0027
}

.carousel-indicators li:hover {
    background-color: #9CCC11
}

/*FOOTER*/

/*FOOTER BASIC STYLE*/

footer {
    width: 100%;
    padding-bottom: 30px;
    background: #393939;
    color: white;
    border-top: 48px solid #5F5F5F
}

/*FOOTER COPYRIGHT BASIC STYLE WITH HOVER EFFECT*/

#copyright {
    float: right;
    font-weight: lighter;
}

#copyright a {
    color: #FEFEFE;
    float: right;
}

#copyright a:focus,
#copyright a:hover {
    color: #DE0027;
    transition: all .25s ease-in;
}

#impressum {
    top: 40px;
    font-weight: lighter;
}

/*MEDIA QUERIES*/

@media(max-width:600px) {
    #sidebar.col-md-3 {
        background-color: #F8F9FA;
        max-height: 536.8px;
    }
}

@media(max-width:600px) {
    #mainframecarousel {
        display: none;
    }
}

@media(max-width:600px) {
    #header {
        display: flex;
    }
}

@media(max-width:766px) {
    #sidebar ul,
    #header {
        width: 290px;
    }
}

@media(max-width:600px) {
    #searchelement.col-md-3 {
        height: auto;
        left: 15px;

    }
}

@media(max-width:600px) {

    .navbar.navbar-expand-lg.navbar-light.bg-light,
    #logo {
        padding-left: 10px;
        width: 290px;
    }
}

@media(max-width:978px) {
    .navbar.navbar-expand-lg.navbar-light.bg-light {
        min-width: 290px;
    }
}

@media(max-width:979px) {
    #searchelement {
        min-width: 290px;
    }
}

@media(max-width:600px) {
    #logo,
    #logo img {
        margin-bottom: 20px;
        padding-left: 17px;
    }
}

@media(max-width:600px) {
    #header {
        background-color: #F8F9FA;
    }
}
