/*Color Definition*/

/*

Hauptfarben: benutzt für Buttons, Übersichtskarte, hover Effekte etc.
apetito-red = #DE0027
apetito-green = #9CCC11

Das etwas dunklere weiß hinter den Elementen, um diese von dem Rest abzuheben.
light-white-shadow = #F8F9FA

Footer Farben
footer-lightgrey = #393939
footer-darkgrey = #5F5F5F

Als Schriftfarbe wird Weiss verwendet
white = #FFFFFF
*/

/*LOGINSITE*/

.loginbutton {
    background: #DE0027;
    color: #FFF;
    width: 15em;
    height: 31.5px;
    border: 1px solid #999;
    border-radius: 0.3em;
    border-color: #DE0027;
    padding-bottom: 3px;
    margin-right: 8px;
    margin-top: 50px;
    transition: all .30s ease-in;
    cursor: pointer;
}

.loginbutton:hover,
.searchbutton:hover {
    background-color: #FFF;
    color: #DE0027;
}


#usermail {
    width: 15em;
    height: 31.5px;
    border: 1px solid #999;
    border-radius: 0.3em;
    transition: width 0.5s ease-in-out;
    border-color: #DE0027;
    padding-bottom: 3px;
    margin-right: 8px;
}

#password {
    width: 15em;
    height: 31.5px;
    border: 1px solid #999;
    border-radius: 0.3em;
    transition: width 0.5s ease-in-out;
    border-color: #DE0027;
    padding-bottom: 3px;
    margin-right: 8px;
}


#loginman {
    width: 100px;
    height: 100px;
    margin-left: 68px;
    margin-bottom: 10px;


}

#loginbox {
    height: 390px;
    width: 270px;
}



.plslogin {
    font-size: 25px;
    font-weight: lighter;
    color: #DE0027;
    text-align: center;

}


/*MODAL STYLE TITEL UND BUTTONS */

.modal-title {
    margin-left: 152px;
    color: #DE0027;
}

.btn.btn-danger {
    background-color: #DE0027;
    border-color: #DE0027;
    transition: all .30s ease-in;
}

.btn.btn-danger:hover {
    background-color: #FFF;
    border-color: #DE0027;
    color: #DE0027;
}

#backbtn {
    background-color: #5F5F5F;
    color: #FFF;
    transition: all .30s ease-in;

}

#backbtn:hover {
    background-color: #FFF;
    color: #5F5F5F;
    transition: all .30s ease-in;
}

.loginbutton:focus {
    outline: 0;
}
